
{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags%}


{% block content %}
<link rel="stylesheet" href="{% static 'ResourceApp/resources.css'%}">
<title>Resources Page</title>

<style>
    @media (max-width:500px){
        .left{
        border-radius: 5px;
        background-color: #34495e;
        flex-basis: 50%;
        padding: 30px;
        margin-left: 10px;

        }
        .right{
        border-radius: 5px;
        flex-basis: 80%;
        padding: 30px;
        margin-left: 40px;
    
    }
    }

    @media (max-width:1000px){
    .left{
        border-radius: 5px;
        background-color: #34495e;
        flex-basis: 50%;
        padding: 30px;
        margin-left: 10px;

        }
    .right{
        border-radius: 5px;
        background-color: rgb(215, 203, 195);
        flex-basis: 80%;
        padding: 30px;
        margin-left: 40px;
    
    }
    }
</style>

    <h1>Materials/Books Access</h1>
    {% if messages %}
        {% for message in messages%}

            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
    {% endfor %}
    {% endif %}

  <div class="content">
    <div class="left">
        <h1>Available Books</h1>
        {% for resource in resources %}
    
            <ul>
                <li><a href="#"> &gt; {{resource.res_title}}</a></li>
            </ul>
    
        {%endfor%}
      </div>
      
    <div class="right">

        <h1>Borrow Books</h1>
    
        <form method="POST">
            {% csrf_token %}
            <div style="margin:30px;" class="form_style">
                {{form|crispy}}
            </div>
            <button style="margin: 30px 30px 0px 30px;" class="btn btn-outline-dark mt-3" type="submit" name="update" >Borrow</button>
        </form>
    </div>
  </div>

{% endblock %}